.nota-printed {
  /* hide the printing component from @media screen */
  display: none;
}

@media print {
  /* invert the display (show/hide) properties of the main */
  /* aplication component and the printing component       */

  .nota-printed {
    display: block;
  }

  .nota-digital {
    display: none;
  }

}

@font-face {
  font-family: 'Ticketing';
  src: url('./fonts/Ticketing.ttf');
  font-display: swap;
}
